<div class="menu">
  <nav class="menu-content">
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
    <a href="https://github.com/bitporters/raidfortnov.github.io/issues">Bugs/Issues</a>
    <a href="https://discord.com/channels/394045688335302656/1161381129211875530">Discord</a>
    <a href="https://www.fortnite.com/@bitporters/5508-7032-6548">Play Now</a>
  </nav>
  <nav class="social-icons">
    {% include social-icons.html %}
  </nav>
</div>
